cohere
docx2txt
faiss-cpu
gradio
langchain
langchain-anthropic
langchain-cohere
langchain-community
langchain-huggingface
langchain-openai
langgraph
neo4j
networkx
numpy
openai
pandas
pymupdf
pypdf
sentence-transformers
scikit-learn
tabulate
tavily-python
requests
openpyxl